<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h3>Detalle de Pagaré de Compra</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-12">

					<p><label >FACT.COMPRA:</label> {{ object.compra | default_if_none:" ---" }}</p>
					<p><label >NUMERO:</label> {{ object.numero | default_if_none:" ---"}}</p>
					<p><label >FECHA EMITIDO:</label> {{ object.fecha_emitido | default_if_none:" ---"}}</p>
					<p><label >FECHA COBRADO:</label> {{ object.fecha_cobrado | default_if_none:" ---"}}</p>
					<p><label >FECHA VENCIMIENTO:</label> {{ object.fecha_vencimiento | default_if_none:" ---"}}</p>
					<p><label >OBSERVACIONES:</label> {{ object.observaciones | default_if_none:" ---"}}</p>

					{% if object.cobrado %}
					<p><label>COBRADO:</label> <span class="label label-success">SI</span></p>
					{% else %}
					<p><label>COBRADO:</label><span class="label label-danger">NO</span></p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="col-lg-12 text-right">
				<button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>