<div class="modal-dialog modal-lg">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">x</button>
			<h3>Detalle Proveedor</h3>
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-lg-4">

					<label>CIF:</label>
					<p>{{ object.cif }}</p>

					<label>RAZÓN SOCIAL:</label>
					<p>{{ object.razon_social }}</p>

					<label>DIRECCIÓN:</label>
					{% if object.direccioin %}<p>{{ object.direccion }}</p>{% else %}<p>...</p>{% endif %}


					<label>TELÉFONO:</label>
					{% if object.telefono %}<p>{{ object.telefono }}</p>{% else %}<p>...</p>{% endif %}

					<label>CORREO:</label>
					{% if object.correo %}<p>{{ object.correo }}</p>{% else %}<p>...</p>{% endif %}

					<label>ESTADO:</label>
					{% if object.estado %}<p>ACTIVO</p>{% else %}<p>INACTIVO</p>{% endif %}

				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="col-lg-12 text-right">
				<button type="button" class="btn btn-primary" onclick="return cerrar_modal()">
					Aceptar
				</button>
			</div>
		</div>
	</div>
</div>