{% extends "base.html" %}
{% block cuerpo %}
<h2>    {{ transacciones.0.producto }}  {{ kilos }} Kg </h2>
<div class="row">
	<div class="col-lg-12">
		<a href=" {% url 'productos:listado_productos' %} class="btn btn-success">
                dddddd
		</a>
	</div>
</div>
<h4> Transacciones en este silo </h4>
<hr/>

	{% for 	t in transacciones %}
        {% if t.compra  %}
        <div class="row">
                 <div class="col-lg-5 text-right">

                     <a href="{% url 'productos:detalle_compra' t.compra.id %}">
                         <span class="btn btn-default btn-sm" style="width:100%;" >
                            Compra de {{ t.producto }}
                            <span class="badge" >{{ t.cantidad }}</span> Kg a {{ t.compra.proveedor }}
                             {{ t.lote_heredado | default_if_none:"" }}
                        </span>
                     </a>

                </div>
                <div class="col-lg-2 text-center">

                        <span class="btn btn-primary btn-sm" style="width:100%;">
                         {{ t.fecha | date:"d M y" }}
                            <span class="badge"> {{ t.kilos_actuales }} Kg </span>

                        </span>

                </div>
                <div class="col-lg-5 text-left" >



                </div>

        </div>
        {% endif %}
        {% if t.venta %}
        <div class="row">
                 <div class="col-lg-5 text-right">



                </div>
                <div class="col-lg-2 text-center">

                        <span class="btn btn-success btn-sm" style="width:100%;">
                         {{ t.fecha | date:"d M y" }}
                            <span class="badge">{{ t.kilos_actuales }} Kg </span>
                        </span>

                </div>
                <div class="col-lg-5 text-left" >

                       <a href="{% url 'productos:detalle_venta' t.venta.id %}">
                         <span class="btn btn-warning btn-sm" style="width:100%;" >
                            Venta de {{ t.producto }}
                            <span class="badge" >{{ t.cantidad }}</span> Kg a {{ t.venta.cliente }}
                             {{ t.lote_heredado | default_if_none:"" }}
                        </span>
                     </a>

                </div>

        </div>
    {% endif %}
    {% endfor %}



{% endblock cuerpo %}