<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Almond Way</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
         body{
            font-size: 1.5em;
         }
        .text-right{
            text-align: right;
            }
         .text-left{
            text-align: left;
            }

    </style>



</head>
<body>

<h4> Factura de compra factura de compra </h4>



<div class="container">


   <table class="table">
        <thead>
            <tr>
                <th class="text-left"><h2>DATOS DE FACTURA</h2></th>
                <th class="text-left"><h2>TITULAR</h2></th>
                <th class="text-left"><h2>PROVEEDOR</h2></th>

            </tr>
        </thead>
        <tbody>

        <tr>
            <td>
                <p>
                N.Factura: {{ numero}}<br>
                Fecha emision: {{ fecha}}<br>
                Forma de pago: {{ forma_pago}}<br>

                </p>
            </td>
            <td>

                  <p>
                    {{ titular_nombre }}<br>
                    {{ titular_cif }}<br>
                    {{ titular_direccion }}<br>

                </p>

            </td>
            <td>

                <p>
                    {{ proveedor_nombre }}<br>
                    {{ proveedor_ruc }}<br>
                    {{ proveedor_direccion }}<br>

                    Entidad de Certificación y Control:<br>
                    {{ proveedor_certificado}}<br>

                </p>
            </td>
        </tr>
        </tbody>
   </table>





        <div class="row">
            <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Conceptos facturados</h3>
                </div>
                <div class="panel-body">

                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-left">Concepto</th>
                            <th class="text-right">Unidades</th>
                            <th class="text-right">Precio/U.</th>
                            <th class="text-right">Total</th>
                        </tr>
                        </hr>
                        </thead>

                        <tbody>

                        {% for key, l in lineas.items %}
                        <tr>
                            <td class="text-left">  {{ l.producto }} </td>
                            <td class="text-right">   {{ l.cantidad }}</td>
                            <td class="text-right">   {{ l.precio }}</td>
                            <td class="text-right">   {{ l.total }}</td>
                        </tr>
                        </hr>
                        {% endfor %}



                        <tr style="border:no-border;">
                            <td></td>
                            <td></td>
                            <td class="text-right">BASE</td>
                            <td class="text-right">{{ base }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2" class="text-right">{{ impuestos   }}</td>
                            <td class="text-right">{{ imp_aplicado }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-right">TOTAL </td>
                            <td class="text-right">{{ total }}</td>
                        </tr>



                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
</div>
</body>

