{% extends "base.html" %}
{% block cuerpo %}
<h2>Silos</h2>
<div class="row">
	<div class="col-lg-10">
		<a onclick="return abrir_modal('{% url 'productos:crear_producto' %}','Productos / Nuevo')" class="btn btn-success">
			Crear nuevo silo
		</a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">
		<!--
		<table id="tabla" class="display" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="text-left">DESCRIPCION</th>
					<th class="text-left">Variedad</th>
					<th class="text-left">KG</th>
									<th class="text-left">ACCIONES</th>
				</tr>
			</thead>
			<tbody>
			{% for producto in productos %}
                <tr>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.variedad }}</td>
                    <td>{{ producto.kilos }}</td>

                    <td class="text-left">
                        <a onclick="return abrir_modal('{% url 'productos:detalle_producto' producto.pk %}','Productos / {{ producto.descripcion }}')" class="btn">
							<span class="btn btn-info btn-sm">ver</span>
                        </a>
                        <a onclick="return abrir_modal('{% url 'productos:modificar_producto' producto.pk %}','Productos / {{ producto.descripcion }}')" class="btn">
							<span class="btn btn-warning btn-sm">modificar</span>
                        </a>
                    </td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		-->

        	{% for producto in productos %}

                <div class="col-md-4">
					<div class="jumbotron">
                    	<h2>{{ producto.kilos }} Kg</h2>
						<h6><span><h4>{{ producto.descripcion }}</h4></span>
						{{ producto.variedad }}</h6>

						<p>
							<a class="btn btn-default" onclick="return abrir_modal('{% url 'productos:detalle_producto' producto.pk %}','Productos / {{ producto.descripcion }}')" class="btn">
								ver &raquo;
							</a>
							<a class="btn btn-default" onclick="return abrir_modal('{% url 'productos:modificar_producto' producto.pk %}','Productos / {{ producto.descripcion }}')" class="btn">
								modificar &raquo;
							</a>

						</p>
					</div>
                </div>


			{% endfor %}







	</div>
</div>
<div id="popup"></div>
<script>
var modal;
function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 500,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>
{% endblock cuerpo %}
