{% extends "base.html" %}
{% block cuerpo %}
<h2>Silos</h2>
<div class="row">
	<div class="col-lg-10">
		<a onclick="return abrir_modal('{% url 'productos:crear_producto' %}','Productos / Nuevo')" class="btn btn-success">
			Crear nuevo silo
		</a>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-lg-12">


        	{% for producto in productos %}

                <div class="col-md-4">
					<div class="jumbotron">
                    	<h2>{{ producto.kilos }} Kg</h2>
						<h6><span><h4>{{ producto.descripcion }}</h4></span>
						{{ producto.variedad }}</h6>

						<p>
							<a class="btn btn-default" href="{% url 'productos:detalle_transacciones' producto.pk %}" class="btn">
								ver transacciones &raquo;
							</a>
							<a class="btn btn-default" onclick="return abrir_modal('{% url 'productos:modificar_producto' producto.pk %}','Productos / {{ producto.descripcion }}')" class="btn">
								modificar &raquo;
							</a>

						</p>
					</div>
                </div>


			{% endfor %}







	</div>
</div>
<div id="popup"></div>
<script>
var modal;
function abrir_modal(url, titulo)
{
    modal = $('#popup').dialog(
    {
        title: titulo,
        modal: true,
        width: 700,
        resizable: false
    }).dialog('open').load(url)
}

function cerrar_modal()
{
    modal.dialog("close");
}

$(document).ready(function()
{
    var table = $('#tabla').dataTable( {
        "language": {
        	url: "/static/localizacion/es_ES.json"
        }
    } );
});
</script>
{% endblock cuerpo %}
